.timer-background {
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.timer-button {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.wrapper {
    background-image: url(Two_Soyjaks_Pointing.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper > div {
    align-self: flex-start;
    margin-top: 20px;
}